//trying to show how the extend work in sass
.height-100 {
  height: 100%;
}
//mixin concept
@mixin position-rel($left, $top) {
  position: relative;
  left: $left;
  top:$top;
 
}

.selectOptionPostion{
    position: relative;
    left:4%;
  }

  .hero-image {
    // background-image : url('/assets/image/image_3.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    // position: relative;
    font-family: Arial, sans-serif;
    // top: 41%;
    // left: 4%;
    width: 92%;
    box-shadow: 0px 38px white;
    @extend .height-100;
    @include position-rel(4%, 41%);
    
  }
 .content {
    @extend .height-100;
    background-color: black;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
  }
   .img-container{
      height: 50%;
  }
  
//   @media only screen and (max-device-width: 400px) {
//     .img-container{
//         height: 100%;
//     }
//     .hero-image {
//         position: relative;
//         top: 0%;
//     }
//   }