<div style="width:100%">
<div class="center">
  
  </div>
  <form class="student-form" [formGroup]="studentRegisterForm" (submit)="submit();">
    <div class="form-item">
      <mat-form-field class="form-indiv-item">
        <input matInput placeholder="First Name" formControlName="firstName" />
        <mat-error *ngIf="studentRegisterForm.get('firstName').hasError('minlength')">
          Please enter a valid First Name
        </mat-error>

      </mat-form-field>
      <mat-form-field class="form-indiv-item">
        <input matInput placeholder="Last Name" formControlName="lastName"/>
        <mat-error *ngIf="studentRegisterForm.get('lastName').hasError('minlength')">
          Please enter a valid Last Name
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-indiv-item">
        <input matInput placeholder="Student ID" formControlName="StudentID" />
        <mat-error *ngIf="studentRegisterForm.get('StudentID').hasError('pattern')">
          Please enter a valid Student ID
        </mat-error>
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary"
     [disabled]="studentRegisterForm.invalid ||
                  studentRegisterForm.pristine ">
      Submit</button>
  </form>
</div>

