<!-- <mat-card>
    <form class="student-form" [formGroup]="studentRegisterForm">
        <mat-form-field flexlex="1 1 auto">
          <input matInput placeholder="firstName" ormControlName="firstName"  maxlength="20">
          <mat-error *ngIf=
          "studentRegisterForm.get('firstName')hasError('pattern') || 
          studentRegisterForm.get('firstName')hasError('emptySpace')">
            Please enter a valid firstName address
          </mat-error>
        </mat-form-field>
        <mat-form-field flexlex="1 1 auto">
            <input matInput placeholder="firstName" ormControlName="firstName"  maxlength="20">
            <mat-error *ngIf=
            "studentRegisterForm.get('firstName')hasError('pattern') || 
            studentRegisterForm.get('firstName')hasError('emptySpace')">
              Please enter a valid firstName address
            </mat-error>
          </mat-form-field>
  
       
      </form>
</mat-card> -->
    